.main{
    text-align: center;
    color: #0f0d26;
}
h1{
    font-size: largest;
}

.home-content{

}

.home-content h1{
    display: inline-block;
    border-bottom: 8px dotted #fff;
}
.logout-btn{
    background-color: aliceblue;
    padding: 10px 15px;
    color: #fff;
    font-size: larger;

    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(175, 39, 39);
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.log-out-btn:hover{
    background-color: rgb(224, 24, 24);
}