.input-wrapper{
    margin:1em;
    display: block;
    border:3px solid rgb(175, 175, 175);
    background-color: #fff;
    display: inline-block;
    border-radius:5px;
    transition:0.2s;
}
.input-wrapper.focused {
    border-color: rgb(0, 0, 0);
}
.input-wrapper.valid{
    border-color: #1fe33c;
}
.input-wrapper.invalid{
    border-color: #dc1919;
}
.input-wrapper:hover{
    border-color: #333;
}

input{
    width:200px;
    height:40px;
    padding: 5px;
    display:inline-block;
    border: none;
    font-size: 15px;
    appearance: none;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
}
input::placeholder{
    font-size: 1.2em;
}

.icon{
    display: inline-block;
    text-align: center;
    padding:auto 2px;
    width:35px;
    height:30px;
    border-radius:0 5px 5px 0;
    vertical-align: middle; 
}
.icon:hover::before {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
  }
  
  .icon:hover::before {
    display: block;
  }
.eye{
    margin:auto 5px;
    cursor: pointer;
}

@media (max-width:280px){
    input{
        width:160px;
        height:30px;
    }
    .icon{
        height:15px;
        transform: translateY(-50%);
    }
}